.footer {
  .urgence {
    background-color: $pink;
    height: 50px;
    .title {
      display: block;
      color: $white;
      font-size: 20px;
      line-height: 50px;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .footer-content {
    background-color: $blue;
    color: $white;
    text-align: right;
    height: 90px;
    display: flex;
    align-items: center;

    .container{
      display: block;
      width: 950px;
      margin: 0 auto;
      position: relative;

      .logo {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        .logo-link {
          position: relative;
          padding-right: 20px;
          color: $white;
          display: inline-block;
          text-decoration: none;
          font-weight: bold;

          &::after {
            content: '';
            background: url('../../assets/img/logo-white.png') center center no-repeat;
            background-size: contain;
            width: 18px;
            height: 17px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }

      .socials {
        text-align: right;
        .social {
          display: inline-flex;
          width: 35px;
          height: 35px;
          justify-content: center;
          text-align: center;
          align-items: center;
          img {
            width: 60%;
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
  }

}

@media only screen and (max-width:1023px) {
  .footer {
    .urgence {
      padding: 20px 8%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      .title {
        //font-size: 12px;
        //line-height: 20px;
        font-weight: 800;
      }
    }

    .footer-content {
      padding: 0 8%;
      height: 90px;
      display: flex;
      align-items: center;

      .container{
        width: 100%;

        .logo {
          position: absolute;
          top: 50%;
          font-size: 40px;
          left: 45%;
          transform: translateY(-50%);
          .logo-link {
            position: relative;
            padding-right: 20px;
            color: $white;
            display: inline-block;
            text-decoration: none;
            font-weight: bold;

            &::after {
              content: '';
              background: url('../../assets/img/logo-white.png') center center no-repeat;
              background-size: contain;
              width: 18px;
              height: 17px;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }

        .socials {
          text-align: center;
          .social {
            display: inline-flex;
            width: 35px;
            height: 35px;
            justify-content: center;
            text-align: center;
            align-items: center;
            img {
              width: 60%;
              display: block;
              margin: 0 auto;
            }
          }
        }
      }
    }

  }
}
