.header {
  width: 100vw;
  height: 60px;
  line-height: 60px;
  text-align: center;
  position: fixed;
  z-index: 50;
  background-color: $white;

  .logo {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    .logo-link {
      position: relative;
      padding-right: 20px;
      color: $green;
      display: inline-block;
      text-decoration: none;
      font-weight: bold;

      &::after {
        content: '';
        background: url('../../assets/img/logo.png') center center no-repeat;
        background-size: contain;
        width: 18px;
        height: 17px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .nav {
    display: inline-block;
    vertical-align: top;
    ul{
      display: inline-block;
      li{
        display: inline-block;
        margin-right: 50px;
        &:first-of-type {
          margin-left: 50px;
        }
        &:last-of-type {
          margin-right: 0;
          a {
            color: $blue;
            text-decoration: none;
            font-weight: bold;
            font-family: $montserrat-light;
          }
        }
        a {
          color: $dark;
          text-decoration: none;
          font-family: $montserrat-light;
        }
      }
    }
  }

}
.header-mobile {
  display: none;
}

@media only screen and (max-width:768px) {
  .header {
    display: none;
  }
  .header-mobile {
    display: block;
    width: 100vw;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: fixed;
    z-index: 50;
    background-color: $white;
    .logo-mobile {
      position: absolute;
      display: block;
      vertical-align: top;
      text-align: left;
      padding: 0 8%;
      .logo-link-mobile {
        position: relative;
        padding-right: 20px;
        color: $green;
        display: inline-block;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
      }
    }
    .burger {
      position: absolute;
      display: block;
      right: 0px;
      top: 20px;
      padding: 0 8%;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        width: 20px;
        height: 2px;
        margin: 2px;
        background-color: #531afa;
      }
      .little {
        width: 15px;
      }
    }
  }
  .header-mobile &.on {
    .burger {
      span {
        background-color: white;
        z-index: 60;
      }
    }
  }
  .logo-mobile-open {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    vertical-align: top;
    text-align: left;
    padding: 0 8%;
    .logo-link-mobile {
      position: relative;
      padding-right: 20px;
      color: white;
      display: inline-block;
      text-decoration: none;
      font-weight: bold;
      font-size: 20px;
    }
  }
  .nav-mobile {
    position: relative;
    left: 100%;
    background-color: #531afa;
    width: 100vw;
    height: 100vh;
    padding: 80px;
    transition: 0.4s;
    a {
      color: #67dbc1;
      text-decoration: none;
      font-size: 24px;
    }
    .dl {
      color: #ffb2e7;
    }
  }
  .on {
    left: 0%;
  }
}
