.main {
  section {
    width: 100vw;
    padding: 70px 0;
    position: relative;

    .container {
      max-width: 950px;
      margin: 0 auto;
      position: relative;

      .button-container {
        display: block;
        .button {
          display: inline-block;
          height: 50px;
          background: $green;
          padding: 0 10px;
          text-decoration: none;

          .label {
            color: $white;
            text-transform: uppercase;
            line-height: 50px;
            font-size: 17px;

          }
        }
      }
    }

    &#home {
      margin-top: 60px;

      .home__block {
        font-size: 0;
        .block-text {
          display: inline-block;
          width: 80%;
          vertical-align: middle;
          .title {
            font-family: $avenir-next-bold;
            color: $green;
            font-size: 40px;
            line-height: 58px;
            max-width: 480px;
            .blue {
              color: $blue;
            }
            .img-referent {
              position: relative;

              &::after {
                content: '';
                background: url('../../assets/img/decoration-1.png') center center no-repeat;
                background-size: contain;
                width: 61px;
                height: 70px;
                position: absolute;
                right: -60px;
                top: -15px;
              }

            }
          }
          .subtitle {
            font-family: $montserrat-light;
            color: $dark;
            font-size: 17px;
            margin: 20px 0 ;
          }
        }
        .home-phone {
          display: none;
        }
      }
      .couple {
        position: absolute;
        width: 20vw;
        left: -6vw;
      }
      .phone-main {
        position: absolute;
        width: 30vw;
        right: 0vw;
        top: 0vh;
      }
    }

    &#product {
      .container {
        font-size: 0;
        .content-left {
          display: inline-block;
          width: 50%;
          vertical-align: top;
          padding-top: 120px;

          .img-container {
            display: block;
            width:100px;
            height: 100%;
            background: $green;
          }

        }
        .content-right {
          display: inline-block;
          width: 50%;
          vertical-align: top;

          .title{
            color: $blue;
            font-size: 38px;
            font-weight: 900;
            line-height: 60px;
            margin-bottom: 50px;
          }
          .ear {
            width: 40px;
          }

          .infos {

            .info {
              min-height: 100px;
              padding: 0 20px;
              .info-title {
                font-size: 24px;
                color: $dark;

              }
              .description {
                font-size: 17px;
                color: $dark;
              }

              &:nth-child(1){
                border-left: 4px solid $green;
              }
              &:nth-child(2){
                margin: 40px 0;
                border-left: 4px solid $blue;
              }
              &:nth-child(3){
                border-left: 4px solid $pink;
              }
            }
          }

          .description {
            margin-top: 20px;
            color: $dark;
            font-size: 14px;
            .cnil-btn {
              color: $green;
              text-decoration: underline;
            }
          }

        }
      }
      .video-conf {
        position: absolute;
        width: 20vw;
        right: -8vw;
        bottom: -10vh;
      }
    }

    &#value {
      .container {
        .title{
          color: $blue;
          font-size: 38px;
          font-weight: 900;
          line-height: 60px;
        }
        .mal-tete {
          width: 40px;
        }
        .info-list {
          margin-top: 30px;

          .info-item {
            position: relative;
            top: -1px;
            .item-header {
              position: relative;
              height: 70px;
              border: 1px solid rgba(151, 151, 151, 0.3);
              line-height: 70px;
              padding: 0 20px;
              transition: all 350ms ease-in-out;

              .item-title {
                color: $dark;
                font-size: 24px;
                font-weight: 800;
              }

              &::before {
                content: '';
                width: 20px;
                height: 5px;
                position: absolute;
                top: 30px;
                right: 30px;
                background: $green;
              }
              &::after {
                content: '';
                width: 20px;
                height: 5px;
                position: absolute;
                top: 30px;
                right: 30px;
                background: $green;
                transition: all 350ms ease-in-out;

              }
            }
            .item-content {

              height: 0;
              overflow: hidden;
              transition: all 350ms ease-in-out;
              border-left: 1px solid rgba(151, 151, 151, 0.3);
              border-right: 1px solid rgba(151, 151, 151, 0.3);

              .description {

                padding: 20px;
                font-size: 17px;
                font-weight: 400;
                line-height: 28px;
                color: $dark;
              }
            }

            &.active {
              .item-header {
                box-shadow: 0px 3px 7px rgba(0,0,0,.2);
                &:after {
                  transform: rotate(90deg);
                }
              }
              .item-content {
                height: 150px;
                &:last-child {
                  border-bottom: 1px solid rgba(151, 151, 151, 0.3);
                }

              }
            }

            &:first-child {
              position: relative;
              top: 0;
            }
            &:nth-child(3) {
              position: relative;
              top: -2px;
            }
          }

        }
      }
    }

    &#testimony {
      padding: 40px 0;
      .slide-content {
        max-width: 870px;
      }
      .title{
        color: $blue;
        font-size: 38px;
        font-weight: 900;
        line-height: 60px;
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center;
      }
      .wrapper-slides {
        .slide {
          display: block;
          margin: auto;
          width: 15vw;
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
          padding: 20px;
          /* margin-right: 40px; */
          margin: 20px;
          overflow: hidden;
          min-height: 300px;
          .wrapper-temoin {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: left;
            img{
              height: 50%;
            }
            &::before{
              position: absolute;
              content: "";
              width: 75px;
              height: 75px;
              top: -40px;
              left: -40px;
              background-color: red;
              z-index: -1;
              transform: rotate(-20deg);
              background-color: #531afa;
            }
            .wrapper-nom {
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin-left: 15px;
              .nom {
                font-weight: bold;
              }
            }
          }
          .temoignage {
            font-size: 18px;
            line-height: 34.2px;
          }

          .rating {
            margin-top: 30px;
            margin-bottom: 15px;
          }

        }
      }
      .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        content: "";
        width: 40px;
        height: 40px;
        background-color: #67dbc1;
        border: none;
        cursor: pointer;
      }

      .slick-prev {
        left: -40px;
        z-index: 1;
      }
      .slick-next {
        right: -40px;
        z-index: 1;
      }

      .slick-prev::before {
        position: absolute;
        content: "";
        width: 15px;
        height: 15px;
        top: 10px;
        left: 14px;
        border-bottom: 5px solid white;
        border-left: 5px solid white;
        background-color: #67dbc1;
        transform: rotate(45deg);
        color: white;
        z-index: -1;
      }
      .slick-next::before {
        position: absolute;
        content: "";
        width: 15px;
        height: 15px;
        top: 10px;
        left: 7px;
        border-top: 5px solid white;
        border-right: 5px solid white;
        background-color: #67dbc1;
        color: white;
        transform: rotate(45deg);
        z-index: -1;
      }
      .slick-disabled {
        opacity: 0.5;
      }
      @media screen and (max-width: 724px) {
        .slick-prev, .slick-next {
          top: 100%;
        }
        .slick-prev {
          z-index: 2;
          left: 25%;
        }
        .slick-next {
          right: 25%;
        }
      }
      .frise {
        display: block;
        margin: auto;
        width: 20%;
        margin-top: 20px;
      }
      .fauteuil {
        position: absolute;
        width: 15vw;
        left: 1vw;
        top: -25vh;
      }
    }

    &#doctors {
      .container {

        .block-text {

          .title{
            color: $blue;
            font-size: 38px;
            font-weight: 900;
            line-height: 60px;
            margin-bottom: 30px;
          }
          .block-container {
            font-size: 0;
            display: flex;
            .description {
              display: inline-block;
              font-size: 17px;
              color: $dark;

              .bold {
                font-weight: bold;
              }
            }
            .img {
              display: inline-block;
              width: 366px;
              height: 262px;
            }
          }
        }
      }
    }

    &#download {
      position: relative;
      background: $green;
      padding: 120px 0;
      overflow: hidden;
      .title{
        color: $white;
        font-size: 38px;
        font-weight: 900;
        line-height: 60px;
        margin: 0 auto;
        text-align: center;
      }

      .download-container {
        text-align: center;
        margin-top: 40px;

        a {
          text-decoration: none;
        }

        .apple {
          width: 165px;
          height: 57px;
          margin-right: 40px;
        }
        .google {
          width: 195px;
          height: 59px;
        }
      }
      .happy {
        position: absolute;
        bottom: -5vh;
        width: 15vw;
        left: 40px;
      }
      .main-blanche {
        position: absolute;
        right: 0px;
        top: 150px;
        width: 20vw;
      }
    }
  }
}

@media only screen and (max-width:1360px) {
  .couple, .video-conf, .fauteuil {
    display: none;
  }
}

@media only screen and (max-width:1023px) {
  .main {
    section {
      padding: 0;

      .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 8%;
        box-sizing: border-box;

      }

      &#home {
        margin-top: 60px;
        padding-bottom: 35px;

        .home__block {
          font-size: 0;
          display: flex;
          flex-direction: column;
          .block-text {
            display: inline-block;
            width: 100%;
            vertical-align: middle;
            .title {
              max-width: 100%;
              text-align: left;

              .img-referent {
                &:after {
                  content: none;
                }
              }
            }
            .subtitle {
              text-align: left;
            }
            .button-container {
              .button {
                width: 100%;
                text-align: center;

              }
            }
          }
          .home-phone {
            display: block;
            margin: auto;
            width: 60vw;
            margin-top: 20px;
          }
        }
        .couple {
          display: none;
        }
        .phone-main {
            display: none;
        }
      }

      &#product {
        .container {
          padding: 0;
          font-size: 0;
          display: flex;
          flex-direction: column;
          .content-left {
            display: block;
            width: 100%;
            padding-top: 0;

            img {
              margin-top: 20px;
              display: block;
              width: 100%;
              background: $green;
            }

          }
          .content-right {
            display: block;
            width: 100%;
            vertical-align: top;
            padding: 75px 8% 0;

            .title {
              position: relative;
              font-size: 38px;
              line-height: 60px;
              margin-bottom: 50px;
            }
            .ear {
              position: absolute;
              top: -50px;
              left: 0px;
              width: 60px;
            }

            .infos {

              .info {
                padding: 0 20px;
                .info-title {
                  font-size: 24px;
                }
                .description {
                  font-size: 17px;
                }
              }
            }
          }
        }
        .video-conf {
          display: none;
        }
      }

      &#value {
        margin-top: 40px;
        .container {
          .title {
            padding-top: 40px;
            font-size: 38px;
            line-height: 60px;
          }
          .mal-tete {
            position: absolute;
            top: -25px;
            left: 8%;
            width: 60px;
          }
          .info-list {
            margin-top: 30px;

            .info-item {
              .item-header {
                position: relative;
                height: auto;
                line-height: 70px;
                padding: 0 50px 0 20px;
                transition: all 350ms ease-in-out;

                .item-title {
                  font-size: 24px;
                  line-height: 35px;
                  padding: 20px 0;
                }

                &::after, &::before {
                  bottom: 30px;
                  top: inherit;
                }
              }
              .item-content {

                .description {

                  padding: 20px;
                  font-size: 17px;
                  font-weight: 400;
                  line-height: 28px;
                  color: $dark;
                }
              }

              &.active {
                .item-header {
                  box-shadow: 0px 3px 7px rgba(0, 0, 0, .2);
                  &:after {
                    transform: rotate(90deg);
                  }
                }
                .item-content {
                  height: 220px;
                  &:last-child {
                    border-bottom: 1px solid rgba(151, 151, 151, 0.3);
                  }

                }
              }

              &:first-child {
                position: relative;
                top: 0;
              }
              &:nth-child(3) {
                position: relative;
                top: -2px;
              }
            }
          }
        }
      }

      &#testimony {
        margin-top: 60px;
        .container {
          .title {
            text-align: left;
            .stethoscope {
              position: absolute;
              top: -60px;
              left: 8%;
              width: 60px;
            }
          }
        }
        .frise {
          margin-top: 20px;
          display: block;
          margin: auto;
          width: 60vw;
          margin-top: 70px;
        }
        .fauteuil {
          display: none;
        }
      }

      &#doctors {
        margin-top: 80px;
        .container {

          .block-text {

            .title {
              font-size: 38px;
              line-height: 60px;
              margin-bottom: 30px;
            }
            .caduce {
              position: absolute;
              top: -60px;
              left: 8%;
              width: 60px;
            }
            .block-container {
              font-size: 0;
              display: flex;
              flex-direction: column;
              .description {
                display: inline-block;
                font-size: 17px;
              }
              .img {
                display: block;
                width: 100%;
                margin: 20px auto 0;
              }
            }
          }
        }
      }

      &#download {
        background: $green;
        padding: 60px 0;
        .title {
          font-size: 38px;
          line-height: 60px;
          margin: 0 auto;
          margin-top: 15vh;
          text-align: center;
        }

        .download-container {
          text-align: center;
          display: flex;
          flex-direction: column;
          align-content: center;
          margin-top: 40px;

          a {
            text-decoration: none;
            display: inline-block;
          }

          .apple {
            width: 165px;
            height: 57px;
            margin-right: 0;
          }
        }
        .happy {
          position: relative;
          display: block;
          margin: auto;
          bottom: -10vh;
          width: 200px;
          left: 0;
        }
        .main-blanche {
          position: absolute;
          display: block;
          margin: auto;
          top: 10px;
          right: 10vw;
          width: 300px;
          transform: rotate(-45deg);
        }
      }

    }
  }
}
