.main {
  section {
    width: 100vw;
    padding: 70px 0;
    position: relative;

    .container {
      max-width: 950px;
      margin: 0 auto;
      position: relative;

      .button-container {
        display: block;
        .button {
          display: inline-block;
          height: 50px;
          background: $green;
          padding: 0 10px;
          text-decoration: none;

          .label {
            color: $white;
            text-transform: uppercase;
            line-height: 50px;
            font-size: 17px;

          }
        }
      }
    }

    &#home {
      margin-top: 60px;

      .home__block {
        font-size: 0;
        .block-text {
          display: inline-block;
          width: 80%;
          vertical-align: middle;
          .title {
            font-family: $avenir-next-bold;
            color: $green;
            font-size: 40px;
            line-height: 58px;
            max-width: 480px;
            .blue {
              color: $blue;
            }
            .img-referent {
              position: relative;

              &::after {
                content: '';
                background: url('../../assets/img/decoration-1.png') center center no-repeat;
                background-size: contain;
                width: 61px;
                height: 70px;
                position: absolute;
                right: -60px;
                top: -15px;
              }

            }
          }
          .subtitle {
            font-family: $montserrat-light;
            color: $dark;
            font-size: 17px;
            margin: 20px 0 ;
          }
        }
        .img {
          position: absolute;
          display: inline-block;
          width: 15vw;
          vertical-align: middle;

        }
      }
      .couple {
        position: absolute;
        width: 20vw;
        left: -6vw;
      }
      .main-bleu {
        position: absolute;
        width: 15vw;
        right: 0vw;
        top: 0vh;
      }
    }

    &#product {
      .container {
        font-size: 0;
        .content-left {
          display: inline-block;
          width: 50%;
          vertical-align: top;
          padding-top: 120px;

          .img-container {
            display: block;
            width:100px;
            height: 100%;
            background: $green;
          }

        }
        .content-right {
          display: inline-block;
          width: 50%;
          vertical-align: top;

          .title{
            color: $blue;
            font-size: 38px;
            font-weight: 900;
            line-height: 60px;
            margin-bottom: 50px;
          }
          .ico-doc {
            width: 50px;
          }

          .infos {

            .info {
              min-height: 100px;
              padding: 0 20px;
              .info-title {
                font-size: 24px;
                color: $dark;

              }
              .description {
                font-size: 17px;
                color: $dark;
              }

              &:nth-child(1){
                border-left: 4px solid $green;
              }
              &:nth-child(2){
                margin: 40px 0;
                border-left: 4px solid $blue;
              }
              &:nth-child(3){
                border-left: 4px solid $pink;
              }
            }
          }

        }
      }
      .video-conf {
        position: absolute;
        width: 20vw;
        right: -8vw;
        bottom: -10vh;
      }
    }

    &#value {
      .container {
        .title{
          color: $blue;
          font-size: 38px;
          font-weight: 900;
          line-height: 60px;
        }
        .info-list {
          margin-top: 30px;

          .info-item {
            position: relative;
            top: -1px;
            .item-header {
              position: relative;
              height: 70px;
              border: 1px solid rgba(151, 151, 151, 0.3);
              line-height: 70px;
              padding: 0 20px;
              transition: all 350ms ease-in-out;

              .item-title {
                color: $dark;
                font-size: 24px;
                font-weight: 800;
              }

              &::before {
                content: '';
                width: 20px;
                height: 5px;
                position: absolute;
                top: 30px;
                right: 30px;
                background: $green;
              }
              &::after {
                content: '';
                width: 20px;
                height: 5px;
                position: absolute;
                top: 30px;
                right: 30px;
                background: $green;
                transition: all 350ms ease-in-out;

              }
            }
            .item-content {

              height: 0;
              overflow: hidden;
              transition: all 350ms ease-in-out;
              border-left: 1px solid rgba(151, 151, 151, 0.3);
              border-right: 1px solid rgba(151, 151, 151, 0.3);

              .description {

                padding: 20px;
                font-size: 17px;
                font-weight: 400;
                line-height: 28px;
                color: $dark;
              }
            }

            &.active {
              .item-header {
                box-shadow: 0px 3px 7px rgba(0,0,0,.2);
                &:after {
                  transform: rotate(90deg);
                }
              }
              .item-content {
                height: 150px;
                &:last-child {
                  border-bottom: 1px solid rgba(151, 151, 151, 0.3);
                }

              }
            }

            &:first-child {
              position: relative;
              top: 0;
            }
            &:nth-child(3) {
              position: relative;
              top: -2px;
            }
          }
        }
      }
    }

    &#testimony {
    }

    &#slider {
      padding: 40px 0;
      .slide-content {
        max-width: 870px;
      }
      .title{
        color: $blue;
        font-size: 38px;
        font-weight: 900;
        line-height: 60px;
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center;
      }
      .wrapper-slides {
        .slide {
          display: block;
          margin: auto;
          width: 15vw;
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
          padding: 20px;
          /* margin-right: 40px; */
          margin: 20px;
          overflow: hidden;
          min-height: 300px;
          .wrapper-temoin {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: left;
            img{
              height: 50%;
            }
            &::before{
              position: absolute;
              content: "";
              width: 75px;
              height: 75px;
              top: -40px;
              left: -40px;
              background-color: red;
              z-index: -1;
              transform: rotate(-20deg);
              background-color: #531afa;
            }
            .wrapper-nom {
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin-left: 15px;
              .nom {
                font-weight: bold;
              }
            }
          }
          .temoignage {
            font-size: 18px;
            line-height: 34.2px;
          }

          .rating {
            margin-top: 30px;
            margin-bottom: 15px;
          }

        }
      }
      .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        content: "";
        width: 40px;
        height: 40px;
        background-color: #67dbc1;
        border: none;
        cursor: pointer;
      }

      .slick-prev {
        left: -40px;
        z-index: 1;
      }
      .slick-next {
        right: -40px;
        z-index: 1;
      }

      .slick-prev::before {
        position: absolute;
        content: "";
        width: 15px;
        height: 15px;
        top: 10px;
        left: 14px;
        border-bottom: 5px solid white;
        border-left: 5px solid white;
        background-color: #67dbc1;
        transform: rotate(45deg);
        color: white;
        z-index: -1;
      }
      .slick-next::before {
        position: absolute;
        content: "";
        width: 15px;
        height: 15px;
        top: 10px;
        left: 7px;
        border-top: 5px solid white;
        border-right: 5px solid white;
        background-color: #67dbc1;
        color: white;
        transform: rotate(45deg);
        z-index: -1;
      }
      .slick-disabled {
        opacity: 0.5;
      }
      @media screen and (max-width: 724px) {
        .slick-prev, .slick-next {
          top: 100%;
        }
        .slick-prev {
          z-index: 2;
          left: 25%;
        }
        .slick-next {
          right: 25%;
        }
      }
      .frise {
        display: block;
        margin: auto;
        width: 20%;
        margin-top: 20px;
      }
    }

    &#doctors {
      .container {

        .block-text {

          .title{
            color: $blue;
            font-size: 38px;
            font-weight: 900;
            line-height: 60px;
            margin-bottom: 30px;
          }
          .block-container {
            font-size: 0;
            display: flex;
            .description {
              display: inline-block;
              font-size: 17px;
              color: $dark;

              .bold {
                font-weight: bold;
              }
            }
            .img {
              display: inline-block;
              width: 366px;
              height: 262px;
            }
          }
        }
      }
    }

    &#download {
      position: relative;
      background: $green;
      padding: 120px 0;
      overflow: hidden;
      .title{
        color: $white;
        font-size: 38px;
        font-weight: 900;
        line-height: 60px;
        margin: 0 auto;
        text-align: center;
      }

      .download-container {
        text-align: center;
        margin-top: 40px;

        a {
          text-decoration: none;
        }

        .apple {
          width: 165px;
          height: 57px;
          margin-right: 40px;
        }
        .google {
          width: 195px;
          height: 59px;
        }
      }
      .happy {
        position: absolute;
        width: 20%;
        bottom: -50px;
        left: 50px;
      }
    }
  }
}
